.form-cadastro{
    width: 40%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0px auto !important;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: calc(40vh)  !important;
    margin-top: 35px !important;
    
  }
  
  .form-cadastro input{
    margin: 5px 0px 5px 0px;
    width: 95%;
    box-sizing: border-box;
  }
  
  .form-cadastro label{
    margin: 5px;
  }
  
  .form-cadastro button{
    display: block;
    margin: 0px auto;
    width: 40%;
  }

  .titulo-form{
    text-align: center;
    margin: 0px;
    padding: 0px;
  }